/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Add application styles & imports to this file! */

@import Url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-mdc-text-field-wrapper {
    width: 300px !important;
}